.center-item-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.form-container {
  width: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 690px;
  justify-content: center;
}

.form-divs {
  display: flex;
  padding: 10px 0;
}

.label {
  width: 43%;
  text-align: right;
  font-size: 20px;
  align-self: center;
  margin: 5px;
}
select {
  margin-left: 25px;
  padding: 5px;
}
.left-25px {
  margin-left: 25px;
}

.input-wrap input {
  margin-left: 25px;
  padding: 5px;
  font-size: 20px;
}

ul {
  list-style: none;
}

.redux-form {
  width: 100%
}